*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}
  @media (max-width: 768px){
    header{
        padding:20px;
    }
  }

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
   }
  h1, h2, h3 {
    font-family: 'Montserrat', sans-serif; 
    margin: 20px 0;
  }


  p {
    line-height: 1.5;
  }


  header {
    text-align: center;
    padding: 50px 0;
    background-color:#0C4F60 ; 
    color: #fff;
  }
    header h1 {
        font-size: 36px;
    }

#about {
        display: flex;
        flex-direction: row; 
        align-items: center; 
        justify-content: space-between; 
        padding: 50px;
      }
      #about img {
        max-width: 300px;
      }

#skills {
        display: flex;
        flex-wrap: wrap; 
        justify-content: center; 
        padding: 50px 0;
        
      }  
     .skill-list {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content:space-between;
        letter-spacing: 1px;
       
      }
      .skill-list li {
        background-color: #f0f0f0;
        border-radius: 5px;
        padding: 10px 20px;
        margin: 10px;
        text-align: center;
        display: flexbox;
      }
      .fa {
        margin-right: 5px;
      }


#projects {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 50px 0;
      }
      .project {
        width: 300px;
        margin: 20px;
        text-align: center;
        background-color: #f0f0f0;
        border-radius: 10px;
        padding: 20px;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
    .project:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
         }
      .project img {
        max-width: 100%;
        object-fit:cover;
        height: auto;
      }


#contact {
        text-align: center;
        padding:50px 0;
      }
    #contact p {
        margin-bottom: 10px;
      }
      
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      form input {
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
      }
      form button {
        background-color: #333;
        color: #fff;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
      }
.info{
    /* indicates interactivity  */
     cursor:pointer; 
     transition: all 0.3s;
}  
  .info:hover{
    color: #333;
    text-decoration: underline;
    transform: scale(1.5);
  }   
@media (max-width: 768px){
  #about {
    flex-direction: column; 
  }
}
#resume{
    text-align: center;
    padding:50px 0;
}
.submit{
    color:#fff;
    background-color:#226A80;
     padding:0.8rem 2.3rem; 
     color:white;
     font-size:18px;
     position:relative; 
}
  .submit:hover{
    transform:scale(0.9); 
}

      
     
      

